<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <!--<add connectionString="Data Source=bdudnik;MultipleActiveResultSets=true;Initial Catalog=DinnerAccounting_Dev;User Id=UNIVERSE\bdudnik;Integrated Security=True" name="DADinnersDomainContext" providerName="System.Data.SqlClient" />-->
    <add connectionString="Data Source=KHASQL2;MultipleActiveResultSets=true;Initial Catalog=DinnerAccounting;User Id=DADinnersAccounting;Password=password;" name="DADinnersDomainContext" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <!-- Set there! -->
      <!-- Method#1: Configure smtp server credentials -->
      <smtp from="da.dinners@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="da.dinners@gmail.com" password="dinners123" />
      </smtp>
      <!-- Method#2: Dump emails to a local directory -->
      <!--<smtp from="some-email@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
                <network host="localhost" />
                <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\"/>
            </smtp>-->
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <identity impersonate="false" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"></forms>
    </authentication>
    <membership defaultProvider="DinnersAccountingMembershipProvider">
      <providers>
        <clear />
        <add name="DinnersAccountingMembershipProvider" type="UI.Administration.DinnersAccountingMembershipProvider" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DinnersAccountingRoleProvider">
      <providers>
        <clear />
        <add name="DinnersAccountingRoleProvider" type="UI.Administration.DinnersAccountingRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>