<link href="../../Styles/user_menu.css" rel="stylesheet" type="text/css" />
@*Model*@
<script src="../../Scripts/Model/Order.js" type="text/javascript"></script>
<script src="../../Scripts/Model/OrderStatus.js" type="text/javascript"></script>
<script src="../../Scripts/Model/OrderDetail.js" type="text/javascript"></script>
<script src="../../Scripts/Model/Product.js" type="text/javascript"></script>
<script src="../../Scripts/Model/ContinuousProposition.js" type="text/javascript"></script>
<script src="../../Scripts/Model/DayProposition.js" type="text/javascript"></script>
@*Api*@
<script src="../../Scripts/api/Order.js" type="text/javascript"></script>
<script src="../../Scripts/api/ContinuousProposition.js" type="text/javascript"></script>
@*Binding*@
<script src="../../Scripts/user_menu/Binding/accordion.js" type="text/javascript"></script>
@*ViewModel*@
<script src="../../Scripts/user_menu/ViewModel.js" type="text/javascript"></script>
<script type="text/javascript">
    function PageScript() {

        ko.applyBindings(viewModel);
        $('.treeview').treeview();

        viewModel.HasChanges.subscribe(function (newProposition) {
            if (viewModel.HasChanges() == false) {
                $('.day-proposition-header').removeClass("ui-state-disabled");
            }
            if (viewModel.HasChanges() == true) {
                $('.day-proposition-header').addClass("ui-state-disabled");
            }
        });
    }
</script>
<div id="select_proposition_div">
    <h2>
        Предложения :
        <select id="date_select" data-bind="options: ContinuousPropositions,
            optionsText: function(item) { return item.DateStart.split('T')[0] + ' - ' + item.DateEnd.split('T')[0];},
            value: ChosenContinuousProposition">
        </select>
    </h2>
</div>
<div id="main">
    <div id="continuous-proposition-parent" class="inline-block">
        <div id="continuous_proposition" data-bind="foreach: ChosenContinuousProposition().DayPropositions, accordion:{}">
            <h3 data-bind="attr: { date: Date }" class="day-proposition-header" >
                <a href="#" data-bind="text: display_date"></a>
            </h3>
            <div>
                <ul class="treeview">
                    <li class="collapsable"><span class="collapsed_first">Комплексы</span>
                        <ul data-bind="foreach: Products">
                            <li data-bind="if: isComplex"><b data-bind="html: Title"></b>
                                <h5 data-bind="html: Summary">
                                </h5>
                                <br />
                                <b id="pricelbl">Цена: </b>
                                <h4 data-bind="html: Price">
                                </h4>
                                <a title="Добавить в заказ" href="#" data-bind="click: viewModel.AddProductToOrder">
                                    <div id="btnaddcontainer">
                                        <img id="btnadd" src="../Scripts/images/add_to_order.png"></div>
                                </a></li>
                        </ul>
                    </li>
                    <li class="collapsable"><span>Также сегодня в меню</span>
                        <ul data-bind="foreach: Products">
                            <li data-bind="ifnot: isComplex"><b data-bind="html: Title"></b>
                                <h5 data-bind="html: Summary">
                                </h5>
                                <br />
                                <b id="pricelbl">Цена: </b>
                                <h4 data-bind="html: Price">
                                </h4>
                                <a title="Добавить в заказ" href="#" data-bind="click: viewModel.AddProductToOrder">
                                    <div id="btnaddcontainer">
                                        <img id="btnadd" src="../Scripts/images/add_to_order.png"></div>
                                </a></li>
                        </ul>
                    </li>
                    <li class="collapsable"><span>Ежедневно в меню</span>
                        <ul data-bind="foreach: viewModel.ChosenContinuousProposition().Products">
                            <li><b data-bind="html: Title"></b>
                                <h5 data-bind="html: Summary">
                                </h5>
                                <br />
                                <b id="pricelbl">Цена: </b>
                                <h4 data-bind="html: Price">
                                </h4>
                                <a title="Добавить в заказ" href="#" data-bind="click: viewModel.AddProductToOrder">
                                    <div id="btnaddcontainer">
                                        <img id="btnadd" src="../Scripts/images/add_to_order.png"></div>
                                </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div data-bind="if: ChosenDate, visible: ChosenDate" class="inline-block ui-corner-all order">
        <div data-bind="template: { name: 'OrderHeader', data: Order }">
        </div>
        <div data-bind="template: { name: 'Order', data: Order }">
        </div>
        <div data-bind="template: { name: 'OrderOperationsUser', data: Order }">
        </div>
    </div>
</div>